:root {
    --primario: #ffffff;
    --secundario: #000000;
    --rojo: #f20e0e;
    --rojo_oscuro: #e10606;
    --gris: #bebebe;

    --fuente_principal: font-family: 'Fascinate', cursive, font-family: 'Goldman', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
/* Goblales */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Fascinate', cursive;
    font-family: 'Goldman', cursive;
}
p {
    font-size: 1.8rem;
    font-family: var(--fuente_principal);
    color: var(--secundario);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuente_principal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Footer */
.footer {
    background-color: var(--gris);
    padding: 0rem ;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer__texto {
    text-align: center;
    font-family: var(--fuente_principal);
    font-size: 1.3rem;
}

/* Navegacion */
.navegacion {
    background-color: var(--gris);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.navegacion__enlace {
    font-family: var(--fuente_principal);
    color: var(--secundario);
    font-size: 3rem;
    font-weight: bolder;
}

.navegacion__enlace--activo, .navegacion__enlace:hover {
    color: var(--rojo);
}

@media (max-width: 768px) {
    .navegacion {
        flex-direction: column;
        text-align: center;
    }
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Productos */
.producto {
    background-color: var(--gris);
    padding: 1rem;
}

.producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--rojo_oscuro);
}

.producto__nombre,
.producto__precio {
    margin: 1rem;
    text-align: center;
    line-height: 3.5rem;
}

/* Graficos */
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--motocross {
    grid-row: 2 / 3;
    background-image: url(../img/banner/1.jpg);
}
.grafico--moto {
    background-image: url(../img/banner/2.jpg);
    grid-row: 8 / 9;
}
@media (min-width: 768px) {
    .grafico--moto {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* Noticias */
.noticias {
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .noticias {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .noticias__atencion {
        grid-column: 1 / 3;
    }
}
.noticias__imagen {
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .noticias__imagen {
        grid-column: 2 / 3;
    }
}
.noticias h3,h2 {
    color: var(--rojo_oscuro);
}

/* Bloques */
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.bloques h3 {
    color: var(--rojo_oscuro);
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

/* Pagina del producto */
@media (min-width: 768px) {
    .prenda {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: 250px;
    gap: 2rem;
}
.formulario__campo {
    border: .5rem solid var(--secundario);
    font-size: 2rem;
    padding: 1rem;
    appearance: none;
}
.formulario__submit {
    background-color: var(--rojo);
    color: var(--primario);
    border: none;
    font-size: 2rem;
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit--activo, .formulario__submit:hover {
    color: var(--secundario);
    cursor: pointer;
    background-color: var(--rojo_oscuro);
}

/* Tiendas */
.tienda {
    display: grid;
    grid-template-rows: repeat(2, auto);
    text-align: center;
}
.tienda h3 {
    color: var(--rojo_oscuro);
}
@media (min-width: 768px) {
    .tienda {
        grid-template-columns: repeat(2, auto);
        column-gap: 2rem;
        text-align: center;
    }
}